*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f7fb;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    padding:20px;
}

.card{
    width:450px;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    color:#1e88e5;
}

.subtitle{
    text-align:center;
    margin:10px 0 25px;
    color:gray;
}

input,
select,
textarea{
    width:100%;
    padding:12px;
    margin-bottom:15px;
    border:1px solid #ddd;
    border-radius:8px;
    font-size:16px;
}

textarea{
    resize:none;
    height:90px;
}

button{
    width:100%;
    padding:14px;
    border:none;
    background:#1e88e5;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#1565c0;
}

.hidden{
    display:none;
}

#result{
    margin-top:20px;
    padding:15px;
    background:#e8f5e9;
    border-radius:10px;
}